<ListView [items]="todos" class="list-group">
    <ng-template let-item="item">
      <StackLayout
        col="0"
        orientation="horizontal"
        class="tap-target"
        (longPress)="setEditMode(item)"
        (tap)="toggleDone(item)">
        <Image
          [src]="imageSource(item)"
          class="check-box">
        </Image>
        <Label
          [text]="item.text"
          class="item"
          [class.line-through]="item.done"></Label>
      </StackLayout>
    </ng-template>
  </ListView>

