<ListView [items]="todos" class="list-group">
    <ng-template let-item="item">
      <StackLayout
        col="0"
        orientation="horizontal"
        class="tap-target"
        (longPress)="setEditMode(item)"
        class="item-container">
        <Image
          [src]="imageSource(item)"
          (tap)="toggleDone(item)"
          class="check-box">
        </Image>
        <Label
          *ngIf="!isInEditMode(item)"
          [text]="item.text"
          class="item"
          (tap)="setEditMode(item)"
          [class.line-through]="item.done"></Label>
        <TextField
          #textField
          *ngIf="isInEditMode(item)"
          class="input"
          returnKeyType="done"
          (blur)="exitEditMode()"
          text="{{ item.text }}"
          (returnPress)="setText(item, textField.text)">
        </TextField>
        <Image
          class="delete"
          horizontalAlignment="right"
          (tap)="destroy(item)">
        </Image>
        <Image
          class="details"
          horizontalAlignment="right"
          (tap)="goToDetails(item)">
        </Image>
      </StackLayout>
    </ng-template>
  </ListView>
