.line-through {
  text-decoration: line-through;
}

.item {
  font-size: 24;
  padding: 15 60 15 15;
}
.check-box {
  margin-left: 15;
  margin-right: 10;
  height: 20;
}

.delete {
  height: 20;
  width: 20;
  background-color: darkred;
  horizontalAlignment: right;
}

.details {
  height: 20;
  width: 20;
  background-color: limegreen;
  horizontalAlignment: right;
  margin-left: 15;
}

.item-container {
  /* background-color: beige; */
}

.input {
  width: 60;
}
